@import 'https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i';
html, body {
   font-family: 'Lato', sans-serif;
   font-size: 12px;
}
body {
   padding: 40px 0;
}
h1, h2, h3, h4, h5 {
   font-family: 'Lato', sans-serif;
}
.uk-notify-message {
   font-size: 12px !important;
}

/*====================================================================
Backend Section
====================================================================*/
h1.be-title {
   font-weight: 700;
   font-style: italic;
   font-size: 16px;
   line-height: 30px;
   color: #444;
}
h3.be-title {
   font-weight: 400;
   font-style: italic;
   font-size: 14px;
   line-height: inherit;
   color: #444;
   text-align: center;
}
h4.be-title-panel {
   font-weight: 400;
   font-style: italic;
   font-size: 14px;
   line-height: inherit;
   color: #CCC;
   text-align: center;  
}
.uk-table td {
   vertical-align: middle !important;
}
#upload-drop .uk-form-file {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateY(-50%) translateX(-50%);
}
.uk-placeholder {
   position: relative;
   padding: 0 !important;
   width: 100%;
   height: 155px;
}
.image-area {
   margin: 0;
   width: 100%;
   height: 155px;
   background-position: center center;
   background-repeat: no-repeat;
}
@media (max-width: 640px) {
   #uploaded-image .image-area {
      width: 100%;
      height: 134px;
   }
   .uk-placeholder {
      height: 134px;
   }
   .image-area {
      height: 134px;
   }
}